<!-- <div *ngIf="!data">
  {{redirect()}}
</div> -->

<div class="row">
  <div class="col-xs-12 col-lg-6 left">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h1>{{event}}</h1>
      </div>
      <div class="col-xs-4 col-sm-1 col-lg-2 hash-container">
        <h3>#{{hash}}</h3>
      </div>
      <div class="col-xs-8 col-sm-4 col-lg-4 offset-sm-1 user-post-container">
        <span>{{data[0].length}} Posts // {{users}} Users</span>
      </div>
      <div class="col-xs-12 col-lg-12 user-post-container">
        <button class="btn btn-primary back-btn" (click)="redirect()">Back</button>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-4 right">
    <input class="search-input" type="text" placeholder="Search...">
    <button class="btn btn-primary search-btn">Search</button>
  </div>
</div>

<div class="tweets row no-pad">
  <div *ngFor="let tweet of tweets">
    <app-tweets [imgSrc]="tweet.imgSrc" [profileImg]="tweet.profileImg" [screenName]="tweet.screenName" [createdAt]="tweet.createdAt"
      [idStr]="tweet.idStr">
    </app-tweets>
  </div>
</div>
