/* ::ng-deep body {
  background-image: none !important;
} */

.row {
  margin-right: 2rem;
  margin-left: 2rem;
}

.event-row {
  width: 100%;
  margin-left: 0;
}

.right {
  float: right;
  text-align: center;
}

.left {
  float: left;
  text-align: left;
  padding-bottom: 1rem;
}

.left h1,
h2,
h3 {
  margin: 0;
}

.post-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border-radius: 15px;
  border-color: #ffffff;
}

.search-btn {
  background-color: #000000;
  font-weight: bolder;
}

.search-input {
  min-height: 3.4rem;
  padding-left: 1%;
  font-weight: bolder;
}

.hash-container {
  font-weight: bolder;
}

.user-post-container {
  padding-top: 1%;
  font-weight: bolder;
  color: grey;
}

@media(max-width: 700px) {
  .right {
    margin: 1rem;
  }
  .search-input {
    border-color: #000000;
  }
  .post-button {
    pointer-events: bounding-box;
  }
}

@media(min-width: 700px) and (max-width: 800px) {
  .user-post-container span {
    padding-left: 1rem;
  }
}
