<div>
  <div class="tweet col-xs-12 col-sm-3 col-lg-2">
    <div class="tweet-inner" [ngStyle]="{'background-image': 'url(' + imgSrc + ')'}">
      <div>
        <div class="overlay">
          <div class="top-left">
            <img class="overlay-img" src={{profileImg}} />
            <p>{{screenName}}
              <br/> {{this.time}} minutes ago</p>
          </div>
          <i fa class="fa fa-twitter fa-lg"></i>
          <a href="http://twitter.com/{{screenName}}/status/{{idStr}}" target="_blank">
            <button class="btn btn-primary post-button">View Post</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
