/* You can add global styles to this file, and also import other style files */
/* body {
    height: 100vh;
    background-image: url('/assets/img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 700px) {
    body {
        height: 110vh;
        background-image: url('/assets/img/bg1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }   
} */