.search-container {
  text-align: center;
  float: none;
  margin: auto;
}

.search-inner {
  background-color: #ffffff;
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.search-items {
  margin-bottom: 1rem;
}

.search-items input {
  border-radius: 5px;
  border-color: gray;
  padding-left: 0.5rem;
  font-weight: bolder;
}

.event-btn {
  background-color: #666666;
  border-color: #666666;
  font-weight: bolder;
  transition: all .2s ease-in-out;
}

.event-btn:hover {
  background-color: #848484;
  transform: scale(1.1);
}

.error-container {
  text-align: center;
  float: none;
  margin: auto;
}

.error-container h3 {
  color: red;
  font-weight: bolder;
}

@media(max-width: 700px) {
  .search-container {
    padding: 0;
  }
}
